div { margin: 0px; padding: 0px; }
.clearer { clear: both; }
div#wrapper { 
  width: 600px; 
  position: absolute; 
  left: 50%; 
  margin-left: -300px;
  margin-top: 30px;
}
dl.name-value { padding: 0px;}
dl.name-value dd { 
  margin: 0px;
  width: 40%; 
  float: left; 
  color: #555; 
  text-align: right;
  clear: left;
}
dl.name-value dt { width: 60%; float: left; }
.notfound-wrapper {
  padding: 6px;
  padding-bottom: 18px;
  border-radius: 5px;
  background-color: #00adee;
  box-shadow:2px 2px 8px #06C;
}
.notfound-wrapper p.banner{ 
  padding: 2px;
  margin: 16px 16px;
  font-size: 24px;
  color: #fff;
}
.child-wrapper { 
  position: relative;
  border-radius: 5px;
  padding: 5px;
  background-color: #8df;
}
.child-wrapper .title { 
  float: left;
  width: 6%;
  padding: 1%;
  font-size: 26px;
  text-align: center;
}
.child-wrapper .avatar {
  padding: 3px 0px;
  float: left;
  width: 24%;
}
.child-wrapper .avatar img {
  width: 100%;
}
.child-wrapper .avatar p.name {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-top: 3px;
}
.child-wrapper .info {
  float: left;
  width: 40%;
}
.child-wrapper .contact {
  padding: 3px 0px;
  float: left;
  width: 28%;
}
